*,
*:before,
*:after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    font-family: 'Lexend', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: #7C76BB;
    margin: 35px 0px;
}

#web-name {
    margin-left: 100px;
    font-size: 30px;
    /* text-shadow: 2px 2px #cec9ca; */
}

#web-name:hover {
    cursor: pointer;
}

.nav-bar {
    position: absolute;
    display: flex;
    right: 120px;
}

.navbar-options {
    position: relative;
    right: 0px;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 7px;
    color: #7C76BB;
}

.navbar-options:hover {
    color: #FF87B0;
    transition: all;
    transition-duration: 200ms;
}

#sign-up-button {
    position: relative;
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-family: 'Outfit', sans-serif;
    height: 40px;
    width: 100px;
    background-color: #7C76BB;
    color: white;
    border: 1px solid #7C76BB;
    border-radius: 5px;
}

#sign-up-button:hover {
    background-color: white;
    border-color: #7C76BB;
    color: #7C76BB;
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
}

#pic {
    max-width: 100%;
    width: 100%;
}

.content {
    display: flex;
}

.content-text {
    padding: 100px;
}

#main-content {
    font-family: 'Lexend', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-size: 60px;
    width: 70%;
}

#sub-content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 40%;
}

.content-pic {
    position: absolute;
    right: 120px;
    width: 35%;
}

ul {
    margin-bottom: 20px;
}

#lets-start-button {
    font-family: 'Lexend', sans-serif;
    font-family: 'Outfit', sans-serif;  
    font-size: 20px;
    width: 17%;
    background-color: white;
    color:#7C76BB;
    border: 1px solid #7C76BB;
    border-radius: 6px;
    padding: 5px;
}

#lets-start-button:hover {
    color: white;
    background-color: #7C76BB;
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
}

/* old header */
/* .header {
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Lexend', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: #7C76BB;
    border-bottom: 5px solid #7C76BB;
    margin: 35px 0px;
} */